<?xml version="1.0"?>
<config>
    <modules>
        <Silex_OrderComment>
            <version>2.0.0</version>
        </Silex_OrderComment>
    </modules>
    <global>
        <blocks>
            <silex_ordercomment>
                <class>Silex_OrderComment_Block</class>
            </silex_ordercomment>
        </blocks>
        <helpers>
            <silex_ordercomment>
                <class>Silex_OrderComment_Helper</class>
            </silex_ordercomment>
        </helpers>
        <models>
            <silex_ordercomment>
                <class>Silex_OrderComment_Model</class>
                <resourceModel>silex_ordercomment_resource</resourceModel>
            </silex_ordercomment>
            <silex_ordercomment_resource>
                <class>Silex_OrderComment_Model_Resource</class>
                <entities>
                    <order_comment>
                        <table>silex_order_comment</table>
                    </order_comment>
                </entities>
            </silex_ordercomment_resource>
        </models>
        <resources>
            <silex_ordercomment_setup>
                <setup>
                    <module>Silex_OrderComment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </silex_ordercomment_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <silex_ordercomment>
                    <file>silex/order_comment.xml</file>
                </silex_ordercomment>
            </updates>
        </layout>
        <translate>
            <modules>
                <Silex_OrderComment>
                    <files>
                        <default>Silex_OrderComment.csv</default>
                    </files>
                </Silex_OrderComment>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Silex_OrderComment before="Mage_Checkout">Silex_OrderComment_Checkout</Silex_OrderComment>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <silex_ordercomment>
                    <file>silex/order_comment.xml</file>
                </silex_ordercomment>
            </updates>
        </layout>
        <translate>
            <modules>
                <Silex_OrderComment>
                    <files>
                        <default>Silex_OrderComment.csv</default>
                    </files>
                </Silex_OrderComment>
            </modules>
        </translate>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <add_order_comment>
                        <class>silex_ordercomment/observer</class>
                        <method>addOrderComment</method>
                    </add_order_comment>
                </observers>
            </checkout_submit_all_after>
        </events>
    </frontend>
    <default>
        <checkout>
            <comment>
                <active>1</active>
                <display_in_cart>0</display_in_cart>
            </comment>
        </checkout>
    </default>
</config>
